.text-container {
  max-width: 660px;
  margin-top: 7%;
  margin-left: 50%;
}

.text-container h1 {
  font-size: 45px;
  font-weight: 400;
  margin-bottom: 15px;
  margin-right: 10px;
}

.text-container p {
  margin-right: 10px;
  font-size: 18px;
}

.text-container a {
  text-decoration: none;
  background: #00986f;
  padding: 14px;
  display: inline-block;
  color: white;
  font-size: 20px;
  margin-top: 25px;
  margin-right: 50px;
  border-radius: 30px;
}

.control {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
  margin-top: 150px;
}

.control .line {
  width: 250px;
  height: 4px;
  background: #fff;
  margin: 0 20px;
  border-radius: 2px;
}

.control .line span {
  width: 55%;
  height: 8px;
  margin-top: -2px;
  border-radius: 4px;
  background: #00986f;
  display: block;
}
